@font-face {
    font-family: deutsch;
    src: url("../assets/fonts/Deutsch.ttf") format("opentype");
}
@font-face {
    font-family: warsaw;
    src: url("../assets/fonts/WarsawGothicSuExt.otf") format("opentype");
}
@font-face {
    font-family: wood;
    src: url("../assets/fonts/WarsawGothicWoodtype.otf") format("opentype");
}
@font-face {
    font-family: ale;
    src: url("../assets/fonts/LudlowStrongAle.ttf") format("opentype");
}

.all{
}
.options{
  display: inline;
  margin-left: 1vw;
  font-size: 2em;
  font-family: warsaw;
}

#first{
  margin-top: 5vh;
  margin-bottom: 5vh;
  background-image: url('/../assets/images/fokkers.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 50vh;
}

#first h3{
  margin-top: 0px;
}


#name{
  font-family: ale;
  display: inline;
  font-size: 5em;
  padding-left: 4vw;
}

#nav{
  /*padding-top: 1.5vh;*/
  background-color: black;
  color: white;
}

#nav2{
  background-color: gray;
  height: 3vh;
}

#statement{
  text-align: center;
  font-size: 4em;
  font-family: ale;
}

#option1{
  margin-left: 42vw;
}
